extends layout

block content
	div(data-role='page')
		div#header(data-role='header')
			h1 Stack Builder
				- //img(src='/images/stack-builder.png')
		div(data-role='content')
			a#addChipButton(href='#addChip',data-rel='popup',data-role='button',data-icon='plus',data-iconpos='bottom') Add a Chip
			div#addChip(data-role='popup')
				form#defineChip
					fieldset
						h1 Define your Chip
						hr
					legend 
					div.ui-grid-a
						.ui-block-a
									label Color
									select#color(name='color')
										option(value='red',selected) Red
										option(value='black') Black
										option(value='pink') Pink
										option(value='brown') Brown
										option(value='orange') Orange
										option(value='green') Green
										option(value='blue') Blue
										option(value='purple') Purple
										option(value='grey') Grey
										option(value='white') White
										option(value='yellow') Yellow
						.ui-block-b
									label Denomination
									select#denom(name='denom')
										option(value=5) .05
										option(value=10) .10
										option(value=25,selected) .25
										option(value=50) .50
										option(value=100) $1
										option(value=200) $2
										option(value=500) $5
										option(value=1000) $10
										option(value=2000) $20
										option(value=5000) $50
										option(value=10000) $100
					label(for='count') How Many?
					input#chipCount(type='range',name='count',value='50',min='0',max='300',step='1')
					button(type='submit',data-theme='b') Add Chip
			div#build
				form(method='POST',action='/')
					fieldset
							legend Build your Stack
							table(width='100%')
								td
									label Stack Type
									select(name='stackType')
										option(value=0) SHORT | 50BB
										option(value=1,selected) STANDARD | 100BB
										option(value=2) DEEP | 150BB
								td
									label Big Blind
									select(name='bb')
										option(value=5) .05
										option(value=10,selected) .10
										option(value=25) .25
										option(value=50) .50
										option(value=100) $1
										option(value=200) $2
										option(value=500) $5
										option(value=1000) $10
										option(value=2000) $20
										option(value=5000) $50
										option(value=10000) $100
								td
									label Players
									input(name='players',type='text',placeholder='9')
								td
									button.btn.btn-success(type='submit') Go!
			div#collComplete
					center
						button.btn.btn-large.btn-success(type='submit') Collection Complete?
					br
			div#chips.ui-grid-b
			- // there should be a dropdown for stored chip values
			- // choosing one should populate the images on screen.
				.ui-block-a
					center#chip0
						- //img(src='images/chips/white/single.png')
				.ui-block-b
					center#chip1
						- //img(src='images/chips/white/single.png')
				.ui-block-c
					center#chip2
						- //img(src='images/chips/white/single.png')
				.ui-block-a
					center#chip3
						- //img(src='images/chips/white/single.png')
				.ui-block-b
					center#chip4
						- //img(src='images/chips/white/single.png')
				.ui-block-c
					center#chip5
						- //img(src='images/chips/white/single.png')