extends layout

block content
	div#header
		center
			img(src='/images/stack-builder.png')
	.container-fluid
		.row-fluid
			.span4
				- // there should be a dropdown for stored chip values
				- // choosing one should populate the images on screen.
				table
					td
						img(src='images/chips/blue/top.png')
						br
						img(src='images/chips/blue/middle.png')
						br
						img(src='images/chips/blue/middle.png')
						br
						img(src='images/chips/blue/middle.png')
						br
						img(src='images/chips/blue/middle.png')
						br
						img(src='images/chips/blue/bottom.png')
					td
						img(src='images/chips/green/top.png')
						br
						img(src='images/chips/green/middle.png')
						br
						img(src='images/chips/green/middle.png')
						br
						img(src='images/chips/green/bottom.png')
			.span4
				img(src='images/chips/red/top.png')
				br
				img(src='images/chips/red/middle.png')
				br
				img(src='images/chips/red/middle.png')
				br
				img(src='images/chips/red/middle.png')
				br
				img(src='images/chips/red/middle.png')
				br
				img(src='images/chips/red/bottom.png')
			.span4
				img(src='images/chips/green/top.png')
				br
				img(src='images/chips/green/middle.png')
				br
				img(src='images/chips/green/middle.png')
				br
				img(src='images/chips/green/middle.png')
				br
				img(src='images/chips/green/middle.png')
				br
				img(src='images/chips/green/bottom.png')
			.span6
		.row-fluid
			.span6
				div#form
					form
						fieldset
								legend Build your Stack
								table(width='100%')
									td
										label Stack Type
										select(name='stackType')
											option(value=0) SHORT | 50BB
											option(value=1,selected) STANDARD | 100BB
											option(value=2) DEEP | 150BB
									td
										label Big Blind
										select(name='bb')
											option(value=5) .05
											option(value=10,selected) .10
											option(value=25) .25
											option(value=50) .50
											option(value=100) $1
											option(value=200) $2
											option(value=500) $5
											option(value=1000) $10
											option(value=2000) $20
											option(value=5000) $50
											option(value=10000) $100
									td
										label Players
										input(type='text',placeholder='9')
									td
										button.btn(type='submit') Go!

	h1= title
	p Welcome to #{title}
