body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

#header {
	background-color: #999;
	border: 1px solid #000;
	width: 100%;
}

#chips {
	display:block;
  position:relative;
}

#chip0 img, #chip1 img, #chip2 img, #chip3 img, #chip4 img, #chip5 img {
  padding:0 auto;
  margin:0 auto;
}

#collComplete {
	display:none;
}

#addChip {
	padding: 20px;
	width:300px;
}

#build {
	display:none;
}