body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

#header {
	background-color: #999;
	border: 1px solid #000;
	width: 100%;
}

#chips img {
	display:block;

}

#collComplete {
	display:none;
}

#addChip {
	padding: 20px;
	width:300px;
}

#build {
	display:none;
}